
body img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}

a.boxed-btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background-color: #F28123;
  color: #fff;
  padding: 10px 20px;
 
}

a.boxed-btn, a.bordered-btn, a.cart-btn {
    border-radius: 50px;
  }
a {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
a:hover {
    color: #F28123;
    text-decoration: none;
  }

a.boxed-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
a.boxed-btn:hover {
    background-color: #051922;
    color: #F28123;
  }
  
  .section-title h3 {
    font-size: 40px;
    position: relative;
    padding-bottom: 15px;
  }
  
  .section-title h3:after {
    position: absolute;
    content: '';
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 2px;
    background-color: #F28123;
    margin: 0 auto;
  }
  
  .section-title p {
    font-size: 15px;
    width: 530px;
    margin: 0 auto;
    color: #555;
    margin-top: 10px;
    line-height: 1.8;
  }
  
  .section-title {
    margin-bottom: 80px;
  }
  
  .breadcrumb-bg {
    background-image: url(../img/breadcrumb-bg.jpg);
  }
  
  .breadcrumb-text p {
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  .breadcrumb-text h1 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin: 0;
    margin-top: 20px;
  }
  
  .breadcrumb-section {
    padding: 150px 0;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    padding-top: 200px;
  }
  
  .breadcrumb-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #07212e;
    z-index: -1;
    opacity: 0.8;
  }

a.cart-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
  }
  
  a.cart-btn i {
    margin-right: 5px;
  }
  
  .single-product-img img {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #ddd;
    box-shadow: 0 0 20px #ddd;
  }
  
  .single-product-content h3 {
    font-size: 22px;
    font-weight: 600;
  }
  
  p.single-product-pricing span {
    font-size: 18px;
    display: block;
    opacity: 0.8;
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .single-product-content p {
    font-size: 15px;
    color: #555;
    line-height: 1.8;
  }
  
  .single-product-content p.single-product-pricing {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #051922;
    line-height: inherit;
  }
  
  input[type="number"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin-bottom: 15px;
  }
  
  .single-product-form a.cart-btn {
    margin-bottom: 15px;
  }
  
  .single-product-content h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
  }
  
  ul.product-share {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul.product-share li {
    display: inline-block;
  }
  
  ul.product-share li a {
    display: block;
    color: #051922;
    margin-right: 10px;
  }
  
  .single-product-content {
    margin-left: 30px;
  }
  
  table.cart-table {
    border: 1px solid #f9f9f9;
    width: 100%;
  }
  
  thead {
    border-bottom: 1px solid #eee;
  }
  
  tr.table-head-row th {
    border-right: 1px solid #efefef;
    padding: 15px;
    font-weight: 500;
    text-align: center;
  }
  
  tr.table-head-row th:last-child {
    border-right: none;
  }

.cart-table-wrap tbody tr td {
    border: 1px solid #efefef;
    padding: 20px 0;
    color: #051922;
  }
  
  thead.cart-table-head tr {
    background-color: #efefef;
  }
  
  td.product-quantity input {
    margin-bottom: 0;
  }
  
  td.product-remove a {
    color: #051922;
  }
  td.product-image img {
    max-width: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
  }
  
  .total-section table.total-table {
    border: 1px solid #efefef;
    width: 100%;
  }
  
  tr.table-total-row {
    background-color: #efefef;
  }
  
  tr.table-total-row th {
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
  }
  
  table.total-table tbody tr.total-data td {
    border: 1px solid #efefef;
    padding: 19px 15px;
  }
  
  tr.total-data td strong {
    margin-right: 32px;
  }
  
  .cart-buttons {
    margin-top: 30px;
  }
  
  .cart-buttons a:first-child {
    margin-right: 20px;
  }
  
  .coupon-section {
    margin-top: 50px;
  }
  
  .coupon-section h3 {
    font-size: 20px;
    font-weight: 500;
  }
  
  .coupon-form-wrap form p input[type=text] {
    border: 1px solid #ddd;
    color: #051922;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
  }
  
  .card.single-accordion {
    margin-bottom: 15px;
    border-bottom: 1px solid #EFEFEF !important;
  }
  
  .card.single-accordion .card-header {
    background-color: #fff;
    border: none;
    padding: 0;
  }
  
  .card.single-accordion:last-child {
    margin-bottom: 0;
  }
  
  .card.single-accordion .card-header h5 button {
    color: #051922;
    font-size: 15px;
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    border: none;
    background-color: #EFEFEF;
    position: relative;
    padding-left: 50px;
    font-weight: 600;
  }
  
  .card.single-accordion {
    border: 1px solid #F9F9F9;
  }
  
  .billing-address-form {
    padding: 20px;
  }
  
  .billing-address-form form p input {
    border: 1px solid #ddd;
    padding: 15px;
    width: 100%;
    border-radius: 3px;
  }
  
  .billing-address-form form p textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 15px;
    height: 120px;
    resize: none;
  }
  
  .shipping-address-form p, .card-details p {
    margin: 0;
  }
  
  .card.single-accordion .card-header h5 button:before {
    position: absolute;
    left: 20px;
    top: 50%;
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 22px;
    margin-top: -11px;
    color: #F28123;
  }
  
  .billing-address-form form p:last-child {
    margin-bottom: 0;
  }
  
  table.order-details {
    border: 1px solid #efefef;
  }
  
  table.order-details thead tr th {
    background-color: #efefef;
    padding: 18px;
    font-size: 15px;
    font-weight: 500;
  }
  
  table.order-details tbody td {
    border: 1px solid #efefef;
    padding: 15px;
  }
  
  .order-details-wrap > a {
    margin-top: 30px;
  }
  
  .card.single-accordion {
    border: 1px solid #eeeeee;
  }
  
  .single-product-item {
    -webkit-box-shadow: 0 0 20px #e4e4e4;
    box-shadow: 0 0 20px #e4e4e4;
    padding-bottom: 50px;
    border-radius: 5px;
  }

img.img_bg {
  width: 60px;
  height: 60px;
}
.product-image img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product-image img:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-image {
  padding: 30px;
  padding-bottom: 0;
}
.product-image img {
  width: 90%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.cart-table-wrap tbody tr td {
  text-align: center;
}

td.product-remove a {
  color: #051922;
}

