.footer {
    /* margin-top: 236px; */
    margin-top: 0px;
}

.footer .row p a {
    text-decoration: none;
    color: #b1c23c;
}

.footer .row p {
    margin-bottom: 0;
    color: #fff;
}

.footer .row.text-center {
    padding: 20px 0;
}

.logo_social a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

a.social_net:hover {
    color: #b1c23c;
}
